### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [801]:
## Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

# to check the number of schools
#school_data.tail()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [802]:
# Read School and Student Data File and store into Pandas Data Frames
student_data_ = pd.read_csv(student_data_to_load)
student_data.head()

# to check the number of students
#student_data.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [803]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [804]:
# School Names - needed for grouping //////////// JUST TESTING THE DATA FOR THE SCHOOL NAME INFO NEEDED IN SCHOOL SUMMARY
#for school_name in range()
#my_dict = {"Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"}
#my_schoolname = (my_dict)
#my_schoolname

In [805]:
#  Calculate the total number of schools - ex: from Extra Content Stu projects part 1 activity
#Print with formating sting using f" 
total_number_school = len(school_data)
total_number_school

15

In [806]:
# Calculate the total number of students
total_number_students = len(student_data)
total_number_students

39170

In [807]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [897]:
# Calculate the average math score - #### USE MEAN FOR THE AVERAGE ###
avg_math_score = round(student_data["math_score"].mean(),2)
avg_math_score

78.99

In [898]:
# Calculate the average reading score - ### USE MEAN FOR THE AVERAGE ###
avg_reading_score = round(student_data["reading_score"].mean(),2)
avg_reading_score

81.88

In [899]:
#* Calculate the percentage of students with a passing math score (70 or greater)
#percent of studenents = avg math score/total number of students * 100
# can't use print(students passing math) because this needs to use a f string  ex:print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}") 
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
total_students_passing_math = students_passing_math["Student ID"].count()
per_passing_math = round((total_students_passing_math/total_number_students) * 100,2)

print(f"{per_passing_math:}%")

74.98%

In [900]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
total_students_passing_reading = students_passing_reading["Student ID"].nunique()
per_passing_reading = round((total_students_passing_reading/total_number_students) * 100,2)

print(f"{per_passing_reading:}%")

85.81%

In [901]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

80.435

In [902]:
#Create a dataframe to hold the above results - EXAMPLE FROM STU PROJECTS PART 1 - 
#Total # of Schools
#Total # of Students
# Total Budget
# Average Math & reading score
# % Passing Math
# % Passing Reading 
#Overall Passing Rate
# Clean formatting before outputting spreadsheet - "{0:,.6f}%"
District_Summary = pd.DataFrame({
    "Total Schools":[total_number_school],
    "Total Students": f"{total_number_students:,}",
    "Total Budget": f"${total_budget:,}",
    "Average Math Score": f"{avg_math_score:.0f}",
    "Average Reading Score":f"{avg_reading_score:.0f}",
    "% Passing Math": f"{per_passing_math:.0f}%",
    "% Passing Reading": f"{per_passing_reading:.0f}%",
    "Overall Passing Rate": f"{overall_passing_rate:.0f}%"
}) 
District_Summary = District_Summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",79,82,75%,86%,80%

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [930]:
# - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
#Create dateframe for school info 
# Combine the data into a single dataset
school_data_combined_df = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [992]:
# EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
#School Name
#grouped_df = original_df.groupby('column1')
#Pull data from "school_name" values
grouped_school_data = school_data_combined_df.groupby(['school_name', 'type']).count()['Student ID']
grouped_school_data
#print(f"School Name: {grouped_school_data}")

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: Student ID, dtype: int64

In [993]:
#School Type
summary_school_type = grouped_school_data.groupby(['school_name', 'type']).count()
summary_school_type

school_name            type
Bailey High School     District    1
Cabrera High School    Charter     1
Figueroa High School   District    1
Ford High School       District    1
Griffin High School    Charter     1
Hernandez High School  District    1
Holden High School     Charter     1
Huang High School      District    1
Johnson High School    District    1
Pena High School       Charter     1
Rodriguez High School  District    1
Shelton High School    Charter     1
Thomas High School     Charter     1
Wilson High School     Charter     1
Wright High School     Charter     1
Name: Student ID, dtype: int64

In [994]:
# Summarize the total number of students
summary_total_number_students = school_data_combined_df.groupby(["school_name"]).count()["size"]
summary_total_number_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [995]:
#Summary for total school budget
summary_total_school_budget = school_data_combined_df.groupby(["school_name"]).mean()["budget"]
summary_total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [996]:
#Summarize the Per Student Budget -  - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
# Have to combine the two data sets into a single dataset to do the math
# per student budget = total school budget / school size
per_student_budget = (summary_total_school_budget/summary_total_number_students)*100
per_student_budget

school_name
Bailey High School       62800.0
Cabrera High School      58200.0
Figueroa High School     63900.0
Ford High School         64400.0
Griffin High School      62500.0
Hernandez High School    65200.0
Holden High School       58100.0
Huang High School        65500.0
Johnson High School      65000.0
Pena High School         60900.0
Rodriguez High School    63700.0
Shelton High School      60000.0
Thomas High School       63800.0
Wilson High School       57800.0
Wright High School       58300.0
dtype: float64

In [997]:
#Average Math Score
summary_avg_math_score = round(school_data_combined_df.groupby(['school_name']).mean()['math_score'],2)
summary_avg_math_score

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [998]:
#Average Reading Score
summary_avg_reading_score = round(school_data_combined_df.groupby(['school_name']).mean()['reading_score'],2)
summary_avg_reading_score

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [999]:
#% Passing Math & #% Passing Reading - **** NOTES FOR ME BELOW *****need to group the number passing by each school
#total_students_passing_math = summary_passing_math.groupby(["Student ID"]).counts() - original passing grades above in district summary
#students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
#total_students_passing_math = students_passing_math["Student ID"].count()
#per_passing_math = total_students_passing_math/total_number_students * 100
summary_passing_math = school_data_combined_df[school_data_combined_df["math_score"] >= 70]
per_school_passing_math = summary_passing_math.groupby(["school_name"]).count()['student_name']
per_summary_passing_math = round((per_school_passing_math/summary_total_number_students)*100,2)
summary_passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [1000]:
#% Passing Reading
summary_passing_reading = school_data_combined_df[school_data_combined_df["reading_score"] >= 70]
per_school_passing_reading = summary_passing_reading.groupby(["school_name"]).count()['student_name']
per_summary_passing_reading = round((per_school_passing_reading/summary_total_number_students)*100,2)
summary_passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [1001]:
#Overall Passing Rate (Average of the above two)
school_overall_passing_rate = (per_summary_passing_math + per_summary_passing_reading)/2
school_overall_passing_rate

school_name
Bailey High School       74.305
Cabrera High School      95.585
Figueroa High School     73.365
Ford High School         73.805
Griffin High School      95.265
Hernandez High School    73.805
Holden High School       94.380
Huang High School        73.500
Johnson High School      73.640
Pena High School         95.270
Rodriguez High School    73.295
Shelton High School      94.860
Thomas High School       95.290
Wilson High School       95.205
Wright High School       94.970
dtype: float64

In [1002]:
# Create a dataframe to hold the above results 
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)  

# Drop all rows with missing information
#df = df.dropna(how='any')

In [1048]:
school_summary_df = pd.DataFrame({"School Type":summary_school_type,
    "Total Students": summary_total_number_students,
    "Total School Budget":summary_total_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":summary_avg_math_score,
    "Average Reading Score":summary_avg_reading_score,
    "% Passing Math":summary_passing_math,
    "Overall Passing Rate":school_overall_passing_rate"
                                 })
school_summary_df = school_summary_df.dropna(how='any')
#school_summary_df = school_summary_df.dropna(subset=['school_name', 'student_name', 'grade', 'reading_score', 'math_score', 'type', 'size', 'budget']
school_summary_df

SyntaxError: EOL while scanning string literal (<ipython-input-1048-6be6541a13c5>, line 8)

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [1049]:
# Sort and display the top five schools in overall passing rate
# Sort results in descending order
# merged_df = merged_df.sort_values(["% Recommend"], ascending=False).round(2) & print head for the top 5
top_five_perfoming_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=False).round(2)
top_five_perfoming_schools.head(5)

KeyError: 'Overall Passing Rate'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [1050]:
# Sort results in descending order
# Sort and display the top five schools in overall passing rate
# merged_df = merged_df.sort_values(["% Recommend"], ascending=True).round(2) & print tail() for the last 5 
worst_five_perfoming_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=True).round(2)
worst_five_perfoming_schools.tail(5)

KeyError: 'Overall Passing Rate'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [1057]:
#* Create a table that lists the average MATH Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Series for each grade level & grade math scores - 9th, 10th, 11th, & 12th grade 
#bootcamp_name.reset_index(inplace=True)
#bootcamp_name.columns = ["BootcampName", "Count"]

school_math_grades = round(school_data_combined_df.groupby(['grade']).mean()['math_score'],2)
#school_math_grades.columns = ["grade", "math_score"]
school_math_grades

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [1058]:
#Group each series by school - 9th, 10th, 11th, & 12th grade 

school_level_math_grades = round(school_data_combined_df.groupby(['school_name']).mean()['math_score'],2)
#school_level_math_grades.columns = ["school_name", "math_score"]
school_level_math_grades

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [1060]:
######### NOTE TO TA I STILL ATTEMPTED TO CREATE THE CODE EVEN THOUGH I WAS HAVING TROUBLE WITH MY SCHOOL SUMMARY 
######### THE CODE HAS BEEN COMMITED OUT DUE TO ERRORS
# Combine the series into a dataframe for each grade level at each school. NEED TO MERGE TWO DATAFRAME
avg_combined_math_grades_merged = pd.merge(school_level_math_grades, school_math_grades, on=["math_score",])
avg_combined_math_grades_merged.head()


### CREATE DATE FRAME WITH COLUMN NAMES
#school_math_grades = pd.DataFrame(columns = ["9th", "10th", "11th", "12th"])
#combined_math_scores_by_grade = pd.DataFrame({"9th": school_math_grades,
#                                             "10th": school_math_grades,
#                                             "11th": school_math_grades,
#                                             "12th": school_math_grades})
#combined_math_scores_by_grade =

Empty DataFrame
Columns: [math_score]
Index: []

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [1061]:
#* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

school_read_grades = round(school_data_combined_df.groupby(['grade']).mean()['reading_score'],2)
school_read_grades

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

In [1062]:
#Group each series by school - 9th, 10th, 11th, & 12th grade 
school_level_reading_grades = round(school_data_combined_df.groupby(['school_name']).mean()['reading_score'],2)
school_level_reading_grades

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1063]:
# Sample bins. Feel free to create your own bins. - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [1064]:
# 1st cut() the dataframe column you'd like to bin
#pd.cut(vehicles_df["Horsepower"], hp_bins, labels=hp_labels)
#vehicles_df["Speed"] = pd.cut(vehicles_df["Horsepower"], hp_bins, labels=hp_labels)
#vehicles_df
school_summary_df["Scores by School Spending"] = pd.cut(school_summary_df[per_student_budget, spending_bins, labels = group_names)
school_summary_df

SyntaxError: invalid syntax (<ipython-input-1064-ecbcf37752b1>, line 5)

In [1065]:
# Creare the breakdowns for the date below

# Average Math Score School Spending - Breakdown by each school spending average

# Average Reading Score School Spending - Breakdown by each school spending average

# % Passing Math School Spending - Breakdown by each school spending average

# % Passing Reading School Spending - Breakdown by each school spending average

# Overall Passing Rate School Spending - Breakdown by each school spending average

## Scores by School Size

* Perform the same operations as above, based on school size.

In [1066]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.