### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
## Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

# to check the number of schools
#school_data.tail()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Read School and Student Data File and store into Pandas Data Frames
student_data = pd.read_csv(student_data_to_load)
student_data.head()

# to check the number of students
#student_data.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
#  Calculate the total number of schools - ex: from Extra Content Stu projects part 1 activity
#Print with formating sting using f" 
total_number_school = len(school_data)
total_number_school

15

In [6]:
# Calculate the total number of students
total_number_students = len(student_data)
total_number_students

39170

In [22]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average math score - #### USE MEAN FOR THE AVERAGE ###
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [9]:
# Calculate the average reading score - ### USE MEAN FOR THE AVERAGE ###
avg_reading_score = student_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [10]:
#* Calculate the percentage of students with a passing math score (70 or greater)
#percent of studenents = avg math score/total number of students * 100
# can't use print(students passing math) because this needs to use a f string  ex:print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}") 
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
total_students_passing_math = students_passing_math["Student ID"].count()
per_passing_math = total_students_passing_math/total_number_students * 100

print(f"{per_passing_math:}%")

74.9808526933878%

In [11]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
total_students_passing_reading = students_passing_reading["Student ID"].nunique()
per_passing_reading = total_students_passing_reading/total_number_students * 100

print(f"{per_passing_reading:}%")

85.80546336482001%

In [12]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

80.43160582078121

In [25]:
#Create a dataframe to hold the above results
#Total # of Schools
#Total # of Students
# Total Budget
# Average Math & reading score
# % Passing Math
# % Passing Reading 
#Overall Passing Rate
District_Summary = pd.DataFrame({
    "Total Schools":[total_number_school],
    "Total Students":[total_number_students],
    "Total Budget":[total_budget],
    "Average Math Score":[avg_math_score],
    "Average Reading Score":[avg_reading_score],
    "% Passing Math":[per_passing_math],
    "% Passing Reading":[per_passing_reading],
    "Overall Passing Rate":[overall_passing_rate]
    }), 


District_Summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [56]:
#Create an overview table that summarizes key metrics about each school, including - EXPLORING PANDAS ACTIVITY 

#min_power_tq = grouped_vehicles_df[["Horsepower", "Torque (lb-ft)"]].min()
#min_power_tq

#School Name
#grouped_df = original_df.groupby('column1')
#Pull data from "school_name" values
#grouped_school_df = pd.school_data.groupby(school_name)
#grouped_school_df.count().head(12)
#grouped_school_df



#pd.merge(student_data, school_data, how="outer", on=["school_name"])
#school_data_complete_merged
#School Type
#Total Students
#Total School Budget
#Per Student Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

AttributeError: module 'pandas' has no attribute 'school_data'

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.