### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
## Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

# to check the number of schools
#school_data.tail()

In [ ]:
# Read School and Student Data File and store into Pandas Data Frames
student_data_ = pd.read_csv(student_data_to_load)
student_data.head()

# to check the number of students
#student_data.tail()

In [ ]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_complete.head()

In [ ]:
# School Names - needed for grouping //////////// JUST TESTING THE DATA FOR THE SCHOOL NAME INFO NEEDED IN SCHOOL SUMMARY
#for school_name in range()
#my_dict = {"Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"}
#my_schoolname = (my_dict)
#my_schoolname

In [ ]:
#  Calculate the total number of schools - ex: from Extra Content Stu projects part 1 activity
#Print with formating sting using f" 
total_number_school = len(school_data)
total_number_school

In [ ]:
# Calculate the total number of students
total_number_students = len(student_data)
total_number_students

In [ ]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

In [ ]:
# Calculate the average math score - #### USE MEAN FOR THE AVERAGE ###
avg_math_score = round(student_data["math_score"].mean(),2)
avg_math_score

In [ ]:
# Calculate the average reading score - ### USE MEAN FOR THE AVERAGE ###
avg_reading_score = round(student_data["reading_score"].mean(),2)
avg_reading_score

In [ ]:
#* Calculate the percentage of students with a passing math score (70 or greater)
#percent of studenents = avg math score/total number of students * 100
# can't use print(students passing math) because this needs to use a f string  ex:print(f" Total: {total_gender}\n Male: {male}\n Female: {female}\n non_specfic: {non_gender_specific}") 
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
total_students_passing_math = students_passing_math["Student ID"].count()
per_passing_math = round((total_students_passing_math/total_number_students) * 100,2)

print(f"{per_passing_math:}%")

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
total_students_passing_reading = students_passing_reading["Student ID"].nunique()
per_passing_reading = round((total_students_passing_reading/total_number_students) * 100,2)

print(f"{per_passing_reading:}%")

In [ ]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2
overall_passing_rate

In [ ]:
#Create a dataframe to hold the above results - EXAMPLE FROM STU PROJECTS PART 1 - 
#Total # of Schools
#Total # of Students
# Total Budget
# Average Math & reading score
# % Passing Math
# % Passing Reading 
#Overall Passing Rate
# Clean formatting before outputting spreadsheet - "{0:,.6f}%"
District_Summary = pd.DataFrame({
    "Total Schools":[total_number_school],
    "Total Students": f"{total_number_students:,}",
    "Total Budget": f"${total_budget:,}",
    "Average Math Score": f"{avg_math_score:.0f}",
    "Average Reading Score":f"{avg_reading_score:.0f}",
    "% Passing Math": f"{per_passing_math:.0f}%",
    "% Passing Reading": f"{per_passing_reading:.0f}%",
    "Overall Passing Rate": f"{overall_passing_rate:.0f}%"
}) 
District_Summary = District_Summary[["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

District_Summary

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [ ]:
# - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
#Create dateframe for school info 
# Combine the data into a single dataset
school_data_combined_df = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_combined_df.head()

In [ ]:
# EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
#School Name
#grouped_df = original_df.groupby('column1')
#Pull data from "school_name" values
grouped_school_data = school_data_combined_df.groupby(['school_name', 'type']).count()['Student ID']
grouped_school_data
#print(f"School Name: {grouped_school_data}")

In [ ]:
#School Type
summary_school_type = grouped_school_data.groupby(['school_name', 'type']).count()
summary_school_type

In [ ]:
# Summarize the total number of students
summary_total_number_students = school_data_combined_df.groupby(["school_name"]).count()["size"]
summary_total_number_students

In [ ]:
#Summary for total school budget
summary_total_school_budget = school_data_combined_df.groupby(["school_name"]).mean()["budget"]
summary_total_school_budget

In [ ]:
#Summarize the Per Student Budget -  - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
# Have to combine the two data sets into a single dataset to do the math
# per student budget = total school budget / school size
per_student_budget = (summary_total_school_budget/summary_total_number_students)*100
per_student_budget

In [ ]:
#Average Math Score
summary_avg_math_score = round(school_data_combined_df.groupby(['school_name']).mean()['math_score'],2)
summary_avg_math_score

In [ ]:
#Average Reading Score
summary_avg_reading_score = round(school_data_combined_df.groupby(['school_name']).mean()['reading_score'],2)
summary_avg_reading_score

In [ ]:
#% Passing Math & #% Passing Reading - **** NOTES FOR ME BELOW *****need to group the number passing by each school
#total_students_passing_math = summary_passing_math.groupby(["Student ID"]).counts() - original passing grades above in district summary
#students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
#total_students_passing_math = students_passing_math["Student ID"].count()
#per_passing_math = total_students_passing_math/total_number_students * 100
summary_passing_math = school_data_combined_df[school_data_combined_df["math_score"] >= 70]
per_school_passing_math = summary_passing_math.groupby(["school_name"]).count()['student_name']
per_summary_passing_math = round((per_school_passing_math/summary_total_number_students)*100,2)
summary_passing_math.head()

In [ ]:
#% Passing Reading
summary_passing_reading = school_data_combined_df[school_data_combined_df["reading_score"] >= 70]
per_school_passing_reading = summary_passing_reading.groupby(["school_name"]).count()['student_name']
per_summary_passing_reading = round((per_school_passing_reading/summary_total_number_students)*100,2)
summary_passing_reading.head()

In [ ]:
#Overall Passing Rate (Average of the above two)
school_overall_passing_rate = (per_summary_passing_math + per_summary_passing_reading)/2
school_overall_passing_rate

In [ ]:
#Merge two dataframes 
# Merge the two created data frames on the name of the school name
#merged_df = pd.merge(bootcamp_name, recommend_bootcamp, on="school_name")
school_summary_df = pd.merge(summary_passing_math, summary_passing_reading, on=['school_name'])

In [ ]:
# Create a dataframe to hold the above results 
#  * School Name
#  * School Type
#  * Total Students
#  * Total School Budget
#  * Per Student Budget
#  * Average Math Score
#  * Average Reading Score
#  * % Passing Math
#  * % Passing Reading
#  * Overall Passing Rate (Average of the above two)  

# Drop all rows with missing information
#df = df.dropna(how='any')

In [ ]:
school_summary_df = pd.DataFrame({"School Type":summary_school_type,
    "Total Students": summary_total_number_students,
    "Total School Budget":summary_total_school_budget,
    "Per Student Budget":per_student_budget})
#    "Average Math Score":summary_avg_math_score,
#    "Average Reading Score":summary_avg_reading_score,
#    "% Passing Math":summary_passing_math
#    "Overall Passing Rate:school_overall_passing_rate})
#school_summary_df = school_summary_df.dropna(subset=['school_name', 'student_name', 'grade', 'reading_score', 'math_score', 'type', 'size', 'budget']
school_summary_df.head()

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
# Sort and display the top five schools in overall passing rate
# Sort results in descending order
# merged_df = merged_df.sort_values(["% Recommend"], ascending=False).round(2) & print head for the top 5
top_five_perfoming_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=True).round(2)
top_five_perfoming_schools.head(5)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
# Sort results in descending order
# Sort and display the top five schools in overall passing rate
# merged_df = merged_df.sort_values(["% Recommend"], ascending=True).round(2) & print tail() for the last 5 
worst_five_perfoming_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=False).round(2)
worst_five_perfoming_schools.tail(5)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#* Create a table that lists the average MATH Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#Series for each grade level & grade math scores - 9th, 10th, 11th, & 12th grade 
#bootcamp_name.reset_index(inplace=True)
#bootcamp_name.columns = ["BootcampName", "Count"]

#school_math_grades.columns = ["school_name", "grade", "math_score"]
school_math_grades = school_data_combined_df.groupby(['grade', 'school_name']).mean()['math_score']
school_math_grades_final =pd.DataFrame(school_math_grades)
school_math_grades_final

In [ ]:
#Group each series by school - 9th, 10th, 11th, & 12th grade 

school_level_math_grades = school_data_combined_df.groupby(['school_name', 'grade']).mean()['math_score']
#school_level_math_grades.columns = ["school_name", "math_score"]
school_level_math_grades

In [ ]:
######### NOTE TO TA I STILL ATTEMPTED TO CREATE THE CODE EVEN THOUGH I WAS HAVING TROUBLE WITH MY SCHOOL SUMMARY 
######### THE CODE HAS BEEN COMMITED OUT DUE TO ERRORS
# Combine the series into a dataframe for each grade level at each school. NEED TO MERGE TWO DATAFRAME
avg_combined_math_grades_merged = pd.merge(school_level_math_grades, school_math_grades, on=["math_score", "grade", "school_name"])
avg_combined_math_grades_merged


### CREATE DATE FRAME WITH COLUMN NAMES
#school_math_grades = pd.DataFrame(columns = ["9th", "10th", "11th", "12th"])
#combined_math_scores_by_grade = pd.DataFrame({"9th": school_math_grades,
#                                             "10th": school_math_grades,
#                                             "11th": school_math_grades,
#                                             "12th": school_math_grades})
#combined_math_scores_by_grade =

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
#* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

school_read_grades = round(school_data_combined_df.groupby(['grade']).mean()['reading_score'],2)
school_read_grades

In [ ]:
#Group each series by school - 9th, 10th, 11th, & 12th grade 
school_level_reading_grades = round(school_data_combined_df.groupby(['school_name']).mean()['reading_score'],2)
school_level_reading_grades

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins. - EXPLORING PANDAS ACTIVITY IN SUPPLEMENTAL PANDAS 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# 1st cut() the dataframe column you'd like to bin
#pd.cut(vehicles_df["Horsepower"], hp_bins, labels=hp_labels)
#vehicles_df["Speed"] = pd.cut(vehicles_df["Horsepower"], hp_bins, labels=hp_labels)
#vehicles_df
school_summary_df["Scores by School Spending"] = pd.cut(school_summary_df["per_student_budget"]/school_summary_df["size"], spending_bins, labels = group_names)
school_summary_df

In [ ]:
# Creare the breakdowns for the date below

# Average Math Score School Spending - Breakdown by each school spending average

# Average Reading Score School Spending - Breakdown by each school spending average

# % Passing Math School Spending - Breakdown by each school spending average

# % Passing Reading School Spending - Breakdown by each school spending average

# Overall Passing Rate School Spending - Breakdown by each school spending average

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.