### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [164]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

# to check the number of schools
#school_data.tail()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [165]:
# Read School and Student Data File and store into Pandas Data Frames
student_data = pd.read_csv(student_data_to_load)
student_data.head()

# to check the number of students
#student_data.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [166]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score - #### USE MEAN FOR THE AVERAGE ###

* Calculate the average reading score - ### USE MEAN FOR THE AVERAGE ###

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [169]:
#  Calculate the total number of schools - ex: from Stu projects part 1 activity
numschool_data = school_data_complete["school_name"].nunique()
print(f"Total number of Schools: {numschool_data}")

Total number of Schools: 15

In [170]:
# Calculate the total number of students
numstudent_data = school_data_complete["student_name"].count()
print(f"Total number of Students: {numstudent_data:,}")

Total number of Students: 39,170

In [171]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print(f"Total budget: {total_budget:,}")

Total budget: 24,649,428

In [172]:
# Calculate the average math score - #### USE MEAN FOR THE AVERAGE ###
avg_math_score = round(school_data_complete["math_score"].mean()/1) 
print(f"Average Math Score: {avg_math_score}")

Average Math Score: 79

In [173]:
# Calculate the average reading score - ### USE MEAN FOR THE AVERAGE ###
avg_reading_score = round(school_data_complete["reading_score"].mean()/1) 
print(f"Average Reading Score: {avg_reading_score}")

Average Reading Score: 82

In [174]:
#* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score) / 2
print(f"Overall Passing Rate: {overall_passing_math}")

Overall Passing Rate: 80.5

In [175]:
#* Calculate the percentage of students with a passing math score (70 or greater)
#overall scores = get data from school data location in the data set[refernce math and reading]> 70 & school data count#
passing_math_score = school_data_complete[school_data_complete["math_score"] > 70]
percentage_passing_math = (avg_math_score) / (numstudent_data) * 100

print(f"Percentage of Students Passing Math: {percentage_passing_math}")

Percentage of Students Passing Math: 0.20168496298187386

In [176]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete[school_data_complete["reading_score"] > 70]
percentage_passing_reading = (avg_reading_score) / (numstudent_data) * 100

print(f"Percentage of Students Passing Reading: {percentage_passing_reading}")

Percentage of Students Passing Reading: 0.20934388562675516

In [177]:
# Create a dataframe to hold the above results
#Total # of Schools
#Total # of Students
# Total Budget
# Average Math & reading score
District_Summary = pd.DataFrame({
"Total Schools":[numschool_data],
"Total Students":[numstudent_data],
"Total Budget":[total_budget]
    
    
})


District_Summary.head()

   Total Schools  Total Students  Total Budget
0             15           39170      24649428

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score - - For loop and use groupby per TA Tom to slice and groupby info
  * Average Reading Score - For loop and use groupby per TA Tom to slice and groupby info
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.